<div class="container">
    <h1>Glorario</h1>
    <div class="glosario">
        
        <h5><b>PÓLIZA:</b>  Es el documento que certifica el respaldo al que tiene acceso el asegurado al pagar una prima.</h5> 
        <h5><b>PRIMA:</b>  Pago realizado al asegurador a cambio de que éste asuma los riesgos objeto del seguro.</h5>  
        <h5><b>DEDUCIBLE:</b> Cantidad de dinero a pagar antes de que el asegurador pague el resto del importe.</h5>  
        <h5><b>GARANTÍA:</b> Acuerdo por escrito en el que el vendedor detalla los arreglos o reparaciones al producto sin costo extra.</h5>
        <h5><b>GARANTÍA EXTENDIDA:</b> Servicio complementario de la garantía original en la cual la casa comercial alarga el plazo de cobertura sobre el producto.</h5>
        <h5><b>COBERTURA:</b> Conjunto de operaciones dirigidas a reducir el riesgo de una empresa o particular.</h5>
        <h5><b>RIESGO:</b> Probabilidad de que se presente un evento negativo en una entidad.</h5>
    </div>
</div>