<div class="container">
    <h1>Perfil del inversionista</h1>

    <table width="900" border="2">
        <tr>
            <th>CONSERVADOR</th>
            <th>MODERADO</th>
            <th>AGRESIVO</th>
        </tr>
        <tr>
            <td>Es menos tolerante al riesgo y valora la seguridad.</td>
            <td>Este inversionista es cauteloso con sus decisiones, pero está dispuesto a tolerar un riesgo moderado para aumentar sus ganancias.</td>
            <td>Busca los mayores rendimientos posibles, por lo que está dispuesto a asumir el riesgo que sea necesario.</td>
        </tr>
        <tr>
            <td>Escoge instrumentos de inversión que le den certeza de que no perderá parte o todo el dinero que invertirá.</td>
            <td>Procura mantener un balance entre rentabilidad y seguridad.</td>
            <td>Son inversionistas jóvenes, pero que cuentan también con solidez económica y con ingresos de moderados a altos y personas solteras o aún sin hijos, entre los 30 y los 40 años de edad.</td>
        </tr>
        <tr>
            <td>No le importa que el rendimiento sea bajo.</td>
            <td>Busca crear un portafolio que combine inversiones en instrumentos de deuda y capitalización.</td>
            <td>Prefieren portafolios de inversión en los que combinan fondos de capitalización, deuda a corto plazo y deuda a largo plazo.</td>
        </tr>
        <tr>
            <td>Prefiere invertir en instrumentos como títulos de deuda, depósitos a plazo o cuentas de ahorros, porque puede saber la rentabilidad que tendrán al adquirirlos.</td>
            <td>Pueden ser personas de distintas edades. Generalmente se trata de personas con ingresos estables, que pueden ser entre moderados y altos, padres de familia con capacidad de ahorro.</td>
            <td></td>
        </tr>
        <tr>
            <td>Puede haber todo tipo de personas, desde jóvenes con sus primeros ingresos y que, por lo tanto, no quieren arriesgar sus ahorros, hasta aquellos con familias por mantener, deudas por cubrir o personas retiradas o por jubilarse que no preocupaciones.</td>
            <td></td>
            <td></td>
        </tr>

    </table>

    <hr>

    <section class="datos-inversion">
        <h1>En una inversión es importante tener presente, los siguientes datos: </h1>
        <ul>
            <li>Tipo de instrumento</li>
            <li>Tasa de interés (Rendimiento)</li>
            <li>Plazo de la inversión</li>
            <li>Monto mínimo de la inversión</li>
            <li>Riesgo(alto, bajo, moderado)</li>
        </ul>
    </section>

</div>