<nav class="navbar navbar-expand-sm navbar-dark p-0" style="background-color: #787474">
  <div class="container">
    <a routerLink="/" class="navbar-brand">
      <h4 
      style="
      text-transform: uppercase; 
      color: white;
      line-height: 25px;
      margin: 0 10px 0;
      "
      >Educación Financiera</h4>
    </a>

    <!--
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      style="margin: 2px 20px;

      "
    >
    
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            routerLink="/login"
            class="nav-link"
            routerLinkActive="router-link-active"
          >
            <i class="fas fa-user"></i>&nbsp; Login
          </a>
        </li>
  
        <li class="nav-item">
          <a
            routerLink="/registrarse"
            class="nav-link"
            routerLinkActive="router-link-active"
          >
            <i class="fas fa-user"></i>&nbsp; Registro
          </a>
        </li>
  
        <li class="nav-item">
          <a style="cursor: pointer" class="nav-link">
            <i class="fas fa-user-times"></i>&nbsp; Salir
          </a>
        </li>
      </ul>
    </div>
    -->
  </div>
</nav>

<div class="menu">
  <nav class="container">
    <div class="contenedor">
      <a href="#presupuestoMensual">Presupuesto</a>
      <a routerLink="/ahorro">Ahorro</a>
      <a routerLink="/seguros">Seguros</a>
      <a routerLink="/inversiones">Inversiones</a>
    </div>
  </nav>
</div>